<head>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<script src="html5-qrcode.min.js"></script>
<style>
  .result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }
</style>


<div class="row">
  <div class="col">
    <div style="width:500px;" id="reader"></div>
  </div>
</div>
<h4>SCANNED RESULT</h4>
<form action="./scanned" method="post">
    <input id = "t" TYPE="text" NAME="inputbox" VALUE="">
    <br><br>
    <input type ="submit" type = "Check in!"> </input>
</form>
<br><br>

<table border = "1">
  <tr><th>First Name:</th> <td><%-firstname%></td></tr>
  <tr><th>Last Name:</th> <td><%-lastname%></td></tr>
  <tr><th>Dietary Restrictions: </th><td><%-dietaryrestrictions%></td></tr>
  <tr><th>Phone number: </th><td><%-phonenumber%></td></tr>
  <tr><th>Number Tickets: </th><td><%-numbertickets%></td></tr>
</table>



<script type="text/javascript">
function onScanSuccess(qrCodeMessage) {
    document.getElementById('t').value = qrCodeMessage;
    html5QrcodeScanner.clear();
}

function onScanError(errorMessage) {
  //handle scan error
}

var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess, onScanError);

</script>
