<!DOCTYPE html>
<h4>First Name: <%-firstname%></h4>
<h4>Last Name: <%-lastname%></h4>
<h4>Email: <%-email%></h4>
<h4>Dietary Restrictions: <%-dietaryrestrictions%></h4>
<h4>Phone number: <%-phonenumber%></h4>
<h4>Number Tickets: <%-numbertickets%></h4>
<h4>Venmo: <%-venmo%></h4>
<a href="/">Scan another</a>
